.container {
  margin: 1rem;
}

.containerHead {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  align-items: center;
}

.containerSearch{
  width: 50%;
  margin-right: 1rem;
  display: flex;
}

.MuiTableCell-root {
  max-width: 300px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}


@media (max-width: 550px) {
  .containerHead {
    display: flex;
    flex-direction: column; /* Cambia a una sola columna */
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .containerSearch{
    width: 100%;
    margin-right: 1rem;
  }
}